/* - -

PASSWORD CHECKER
stylesheet

- - */
/* pc update */
body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
body::webkit-scrollbar {
  width: 0 !important;
}
#txtPassword::-ms-clear {
  display: none;
}

.input-group {
  position: relative;
}

.toggle {
  width: 21px;
  height: 21px;
  background: url("../images/eyeicon2.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  border: 0px;
  opacity: 0.7;
  box-shadow: 0px 0px 0px;
}

.toggle.openEye {
  background: url("../images/eyeicon1.png");
  background-size: 21px 12px;
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

.footer .switchBtn.trainerWithdraw {
  background-image: url("../images/bt-bg-paw.png");
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  height: 300px;
  width: auto;
  margin: 0 auto;
  padding: 40px;
}
/* input field */
input[type="text"],
select {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-group {
  margin-bottom: 1.25em;
}
input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 1.25em;
  height: auto;
  padding: 0.5em;
  width: 100%;
}
/* suppress IE >= 10 native functionality that can show password */
input[type="password"]::-ms-reveal {
  display: none;
}
.btn {
  margin-top: 1.75em;
}
.input-group {
  position: relative;
  width: 100%;
}

.fa {
  padding-top: 6px;
  color: #c3c3c3;
}

.fa::before {
  font-size: 24px;
}

#checkboxWrapper {
  width: 100%;
  padding: 40px 0 0 0;
  display: none;
}
.cbWrapper {
  width: 100%;
  height: 30px;
  display: block;
}
.checkbox {
  float: right;
}

/* .cblabel {display: block; text-align: right;} */

/* - Overrides - */

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
li,
a,
ol,
span,
body {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-color: #effff5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
li,
a,
ol,
span {
  font-family: Arial, Helvetica, sans-serif;
}

/* - Structure - */

.quiz {
  margin: 0px auto;
  position: relative;
  max-width: 700px;
}

/* - Question Items - */

input[type="radio"] {
  margin-top: 1px;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}
input[type="radio"]:checked + label {
  color: #00b01b;
}

.wideClear {
  width: 100%;
  float: left;
  background-color: #fff;
  clear: both;
  position: relative;
}

.transition,
.transition:hover {
  transition: all 0.3s ease-in-out;
}

.quizItem {
  padding: 30px 50px 20px 35px;
  border: 5px solid #def3df;
  margin-left: 0px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 17px;
  background-color: #fff;
}

.quizItem:hover {
  border: 5px solid #00b01b;
  margin-left: 10px;
}

.quizItem div:active label,
.quizItem div:hover label {
  color: #00b01b;
}

.quizItem * {
  cursor: default;
}

.quizItem label,
.quizItem input[type="radio"] {
  cursor: pointer;
}

.quizItem h2 {
  color: #208f0a;
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 22px;
  max-width: 700px;
  letter-spacing: -1px;
  line-height: 29px;
}

.quizItem div {
  margin-bottom: 15px;
  position: relative;
}

label {
  font-size: 17px;
  color: #3f3f3f;
  float: left;
  vertical-align: top;
}

button.bounceBtn {
  background-color: transparent;
  border: 4px solid #009016;
  border-radius: 7px;
  margin-top: 20px;
  display: block;
  padding: 20px 25px 21px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 60px;
  color: #009016;
}

button.bounceBtn:hover {
  background-color: #00b01b;
  color: #fff;
  cursor: pointer;
}

button.bounceBtn,
button.bounceBtn:hover {
  transition: all 0.3s ease-in-out;
}

.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00c909;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover,
.hvr-bounce-to-top:focus,
.hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.quizHeader h1 {
  letter-spacing: -1px;
  max-width: 100%;
  font-size: 40px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 0px;
  color: #208f0a;
}

.resultBlock .quizItem {
  border-color: #04cb22;
  background-color: #157b05;
}

.resultBlock .quizItem * {
  color: #fff;
}

.quizItem.errorMsg,
.resultBlock .quizItem {
  margin: 30px 0px 60px;
}

.quizItem.errorMsg:hover,
.resultBlock .quizItem:hover {
  margin-left: 0px;
}

.quizItem.errorMsg,
.quizItem.errorMsg:hover {
  border-color: #eda2a2;
  padding-bottom: 7px;
}

.quizItem.errorMsg h2,
.quizItem.errorMsg:hover h2 {
  color: #f27f7f;
}

.resultBlock .quizItem h2 {
  color: #fff;
  letter-spacing: 0;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 19px;
  float: left;
}

.resultBlock .quizItem img {
  height: auto;
  float: left;
}

.quizItem img {
  width: 100%;
  margin-bottom: 15px;
  max-width: 350px;
}

.resultBlock .quizItem p {
  color: #b3f2b1;
  line-height: 25px;
  margin-bottom: 10px;
  max-width: 600px;
  width: 100%;
  clear: both;
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

.quizHeader p {
  font-size: 16px;
  line-height: 23px;
  color: #8db48a;
  margin: 0px 0px 35px;
  width: 100%;
  float: left;
  clear: both;
  max-width: 600px;
}

.resultBlock .quizItem h2 span {
  font-size: 23px;
  color: #b3f2b1;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 5px;
}

.quizHeader {
  margin-bottom: 10px;
}

.missingItem {
  border-color: #eda2a2;
}

.wideWrap {
  position: relative;
  min-height: 100vh;
}

.wideClear.padding {
  height: 100px;
}

#pokebtn {
  cursor: pointer;
}

.footer {
  bottom: 0px;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 11px 0px 10px;
  background-color: #effff5;
  border-top: 1px solid #cbf2cb;
}

.footer a {
  font-size: 12px;
  color: #9ed8a6;
  text-decoration: none;
  text-align: right;
  padding-right: 8px;
  float: right;
  margin-right: 6px;
}

.show {
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
}

.zilla {
  transition: all 0.3s ease-out;
}

.saltlick:hover span,
.saltlick:active span {
  color: #26a530;
  text-shadow: 1px 1px #fff;
}

.lineBtn {
  display: block;
  border: 1px solid #a9e7aa;
  padding: 11px 14px 11px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #22b124;
  background-color: transparent;
  border-radius: 3px;
  vertical-align: top;
  margin: 20px auto 50px;
}

.lineBtn:hover {
  border: 1px solid #a6dba6;
  background-color: #d4f5d5;
  color: #249907;
  cursor: pointer;
  text-shadow: none;
}

/* - - Mobile Styles - - */

@media (max-width: 720px) {
  .quiz {
    padding: 0px 30px;
  }

  .quizItem:hover {
    margin-left: 0px;
  }
  .resultBlock .quizItem h2 {
    width: 100%;
    margin: 25px 0px 0px;
    float: left;
    clear: both;
  }

  .quizItem input {
    position: absolute;
    left: 0px;
    top: 3px;
  }

  .quizItem label {
    padding-left: 31px;
  }

  .resultBlock .quizItem h2 span {
    margin-bottom: 0px;
  }
}

#txtPassword {
  border-radius: 3px;
  border: 1px solid #dedede;
  font-size: 15px;
  padding: 7px 5px 7px 15px;
  height: auto;
  display: block;
  color: #8a8a8a;
}

#txtPassword::placeholder {
  color: #ccc;
}

/* - New - */

.imgContain {
  width: 200px;
  display: block;
  margin: 60px auto 60px;
  position: relative;
  border: 3px solid #f2f2f2;
  border-radius: 10px;
  height: 200px;
  padding: 20px;
}

#topImage {
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

#checkboxWrapper {
  width: 100%;
  padding: 40px 0 0 0;
  display: none;
  max-width: 400px;
  margin: 40px auto 0px;
  background-color: #f5fff7;
  border-radius: 3px;
  border: 1px solid #aedeab;
  padding: 30px 30px 15px;
}

label {
  font-size: 14px;
  color: #1a5408;
  float: left;
  vertical-align: top;
}

.footer .switchBtn {
  width: 20px;
  height: 20px;
  background-image: url("../images/bt-bg-poke.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -35px;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer .switchBtn:hover {
  top: -38px;
  transition: all 0.3s ease-in-out;
}

/* - - Checkbox hiding - - */

.textcenter {
  text-align: center;
}

.cbWrapper input.checkbox {
  display: none;
}

.cbWrapper input.checkbox + span {
  width: 16px;
  display: block;
  position: absolute;
  height: 20px;
  opacity: 0.3;
  right: 0px;
  top: 0px;
  background-image: url("../images/nopoint.png");
  background-repeat: no-repeat;
}

.cbWrapper input[type="checkbox"]:checked + span {
  width: 20px;
  opacity: 0.9;
  height: 20px;
  background-image: url("../images/tick.png");
}

.cbWrapper {
  position: relative;
  width: 100%;
  float: left;
  clear: both;
}

.shareDiv p {
  max-width: 100%;
  margin: 0px auto;
  font-size: 12px;
  text-align: center;
  margin-bottom: 40px;
  color: #9fcc9f;
  padding: 0px 0px;
  max-width: 600px;
  margin-top: 0px;
  margin: 20px auto 50px;
  max-width: 400px;
}

/* - */

/* - */

.nav {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.nav img:first-child {
  width: 150px;
  height: auto;
  margin: 26px 0px 0px 26px;
  float: left;
  box-sizing: border-box;
  padding: 0px;
}

.nav img:last-child {
  width: 100px;
  height: auto;
  margin: 18px 21px 0px 0px;
  float: right;
  box-sizing: border-box;
  padding: 0px;
}

.pika {
  position: absolute;
  right: 0px;
  top: -122px;
  max-width: 185px;
  height: auto;
  opacity: 0;
  pointer-events: none;
}

.footer a:hover ~ img {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

/* - - */

.shareDiv .note {
  margin: 0px auto;
  font-size: 13px;
  text-align: left;
  color: #419143;
  padding: 20px 20px 20px 100px;
  max-width: 600px;
  border: 1px solid #b8d5a5;
  border-radius: 8px;
  position: relative;
  margin: 30px auto 0px auto;
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.note span {
  height: 100%;
  background-color: #caeec4;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid #b8d5a5;
}

.note img {
  width: 100%;
  position: absolute;
  display: block;
  top: 16px;
  left: 18px;
  width: 40px;
  height: auto;
  opacity: 1;
  padding: 0px;
}

.notepad {
  position: relative;
  width: 100%;
  height: 75px;
  margin-bottom: 30px;
}

/* -- Added Top Banner -- */

.infoBanner {
  height: auto;
  padding: 12px 30px 12px;
  background-color: #effff5;
  border-bottom: 1px solid #cbf2cb;
}

.infoBanner p {
  width: 100%;
  font-size: 13px;
  text-align: center;
  color: #84bb9e;
}

.shareDiv {
  margin-bottom: 100px;
}
.about-link a {
  float: right;
  margin: 32px 50px 0 0;
  text-decoration: none;
  color: #007e42;
  transition: 0.3s all ease-in-out;
  font-weight: 800;
}
.about-link a:hover {
  color: #21a967;
  transition: 0.3s all ease-in-out;
}

@media (max-width: 600px) {
  .quizItem.errorMsg,
  .quizItem.errorMsg:hover {
    border-color: #eda2a2;
    padding-bottom: 7px;
    border-width: 7px;
    padding: 20px 20px 0px 20px;
  }
}

@media (max-width: 500px) {
  button.bounceBtn {
    width: 100%;
  }
  .shareDiv .note {
    width: 95vw;
    margin-top: 15px;
  }
  .note span {
    display: flex;
    align-items: center;
  }
  .note img {
    position: relative;
    top: unset;
    left: unset;
  }
  #checkboxWrapper {
    margin-top: 0px;
    width: 95vw;
  }
  .imgContain {
    margin: 35px auto 35px;
  }
}
